@font-face {
    font-family: shabnam;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/tanha-font-v0.9/Tanha.eot');
    src: url('../fonts/tanha-font-v0.9/Tanha.ttf') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/tanha-font-v0.9/Tanha.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/tanha-font-v0.9/Tanha.woff2') format('truetype');
}

body {
    background-color: #ffd000;
    overflow-x: hidden;
    font-family: shabnam;
}

.logo {
    width: 200px;
    height: 150px;
    margin-right: 2%;
}

.menu {
    background-color: #ffd000;
}

.menu ul  li{
    width: 100%;
}

.offcanvas {
    font-size: 20px;
    background-color: #ffd000;
}

.dropdown-menu {
    transition: ease-in-out 0.5s;
    background-color: #ffd000;
    width: 100%;
}

.dropdown-menu li{
    width: 100px;
    height: 30px;
}

.dropdown-menu a {
    text-decoration: none;
    color: #000;
    margin-right: 15px;
    margin-top: 10px;
}

.a1{
    width: 100%;
    height: 50px;
}

.dropdown-menu a:hover {
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.3s;
    background-color: #d1af14;
}


.row{
    text-align: start;
    width: 100%;
}
.col-3{
    margin-left: -110px;
    margin-bottom: 20px;
    margin-right: 80px;
}

.card{
    width: 335px;
    height: 320px;
}

.card img{
    width: 335px;
    height: 200px;
}

.card a {
    text-decoration: none;
    color: #000;
}

.card-body h5 {
    text-align: center;
}

.card-body:hover{
    transition:cubic-bezier(1, 0, 0, 1) 0.3s;
    background-color: #eeeeee;
}

footer {
    margin-top: 25px;
    width: 1400px;
    height: 510px;
    background-color: #302f2c;
    color: #fff;
    font-family: shabnam;
}

.ejtemaei h4 {
    padding-top: 30px;
    padding-right: 25px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: underline #302f2c;
    -webkit-user-select: none;
    user-select:contain;
}

.ejtemaei h4:hover {
    text-decoration: underline #ffd000;
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.3s;
}

.ejtemaei p {
    padding-right: 15px;
    font-size: 15px;
    font-weight: 400;
    width: 500px;
    text-align: justify;
}

.me-2 {
    width: 300px;
}

.label {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
    font-weight: 800;
    font-size: 15px;
    text-decoration: underline #302f2c;
    font-family: shabnam;
}

.label:hover {
    text-decoration: underline #ffd000;
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.3s;
}

.majazi {
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;
}

.f-majazi {
    margin-top: 15px;
    margin-right: 210px;
    display: inline-block;
}

.table h5 {
    margin-right: 20px;
    display: inline-block;
    text-decoration: underline #302f2c;
    font-weight: bold;
    -webkit-user-select: none;
    user-select: contain;
}

.table h5:hover {
    text-decoration: underline #ffd000;
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.3s;
}

.table ul {
    display: inline-block;
    margin-right: 25px;
}

.table ul li {
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: #adadad;
    margin-right: -30px;
    -webkit-user-select: none;
    user-select: contain;
}

.table ul li:hover {
    transition: ease-in-out 0.3s;
    color: #fff;
}